<mat-card class="header-padding">
  <div class="main-div">
    <div class="display-inbl">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="onOpenedChange()" >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="display-inbl title">
      <p>Список заявок</p>
    </div>
    <div class="display-inbl settings">
      <button  mat-icon-button  aria-label="Example icon button with a menu icon">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
