<div id="back-color">
  <div @triggerElementShow class="row justify-content">
    <div class="col-md-4 col-12 offset-md-1">
<!--      <mat-card id="login-card" >-->
<!--        <mat-card-content>-->
<!--          <div id="card-content">-->
<!--            <div style="display: inline-block"><h1 style="font-weight: bolder">Войти</h1></div>-->
<!--            <div style="display: inline-block; padding-left: 20px"><h1>Регистрация</h1></div>-->
<!--            <mat-form-field class="example-form-field full-width" style="padding-top: 50px">-->
<!--              <mat-label>-->
<!--                Логин-->
<!--              </mat-label>-->
<!--              <input matInput type="text">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field class="example-form-field full-width" style="padding-top: 40px">-->
<!--              <mat-label>-->
<!--                Пароль-->
<!--              </mat-label>-->
<!--              <input matInput type="text">-->
<!--            </mat-form-field>-->
<!--            <div id="button-entry">-->
<!--              <button mat-raised-button color="primary" class="full-width" (click)="entry()">Войти</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </mat-card-content>-->
      <div class="login-div-card full-width" id="col-position">

        <mat-card class="login-card">
          <div id="header-card">
          <mat-label id="label-entry">Войти</mat-label>
          <mat-label id="label-reg">Регистрация</mat-label>
          </div>
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
            <div class="form-parent-div">
              <mat-form-field>
                <input matInput type='text'  formControlName="login" placeholder="Логин">
              </mat-form-field>
              <mat-form-field>
                <input matInput type='password' formControlName="password" placeholder="Пароль">
              </mat-form-field>
              <button mat-raised-button type="submit" color="primary" id="button-entry">Войти</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
<!--    <div class="col-sm-6" id="logo-div" style="min-height: 100vh; text-align: center ">-->
<!--      <div id="logo">-->
<!--        <img src="/assets/img/logo.png">-->
<!--        <h1 id="logo-text">КОММУНАЛЬЩИК</h1>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
