<mat-selection-list #shoes [multiple]="false">
  <mat-list-option value="logo" class="logo">
    АДС
  </mat-list-option>
  <mat-divider class="divider"></mat-divider>
  <mat-list-option routerLink="/adsTable" value="list">
    <mat-icon mat-list-icon >list</mat-icon>
    <div mat-line>Список заявок</div>
  </mat-list-option>
  <mat-list-option routerLink="/adsAdd"  value="add">
    <mat-icon mat-list-icon>add</mat-icon>
    <div mat-line>Новая заявка</div>
  </mat-list-option>
  <mat-list-option  routerLink="/adsDisconnections" value="disc">
    <mat-icon mat-list-icon>priority_high</mat-icon>
    <div mat-line>Отключения</div>
  </mat-list-option>
  <mat-list-option value="plan">
    <mat-icon mat-list-icon>drag_handle</mat-icon>
    <div mat-line>Плановые работы</div>
  </mat-list-option>
  <mat-list-option value="dop">
    <mat-icon mat-list-icon>playlist_add</mat-icon>
    <div mat-line>Дополнительные</div>
  </mat-list-option>
</mat-selection-list>
