<mat-selection-list #shoes [multiple]="false">
  <mat-list-option value="logo" class="logo">
    АДС
  </mat-list-option>
  <mat-divider class="divider"></mat-divider>
  <mat-list-option value="list">
    <mat-icon mat-list-icon>list</mat-icon>
    <div mat-line>Список заявок</div>
  </mat-list-option>
  <mat-list-option value="add">
    <mat-icon mat-list-icon>add</mat-icon>
    <div mat-line>Новая заявка</div>
  </mat-list-option>
  <mat-list-option value="disc">
    <mat-icon mat-list-icon>priority_high</mat-icon>
    <div mat-line>Отключения</div>
  </mat-list-option>
</mat-selection-list>
