<div class="div-right">
  <div class="div-padding">
    <div class="row">
      <div class="col-md-3 col-12">
        <ng-template matStepLabel>Информация о заявителе</ng-template>
        <mat-form-field class="example-form-field full-width">
          <mat-label>
            <mat-icon>search</mat-icon>
            Поиск
          </mat-label>
          <input #inputSearchText matInput type="text" [(ngModel)]="textSearch"
                 (keyup)="showTable()"
                 name="secondStep">
          <button mat-button *ngIf="textSearch" matSuffix mat-icon-button matTooltip="Очистить поле" (click)="textSearch = ''; showTable()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-12">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Адрес</mat-label>
          <mat-select [(ngModel)]="addressSearch" #selectSearchAddress
                      (ngModelChange)="showTable()">
            <mat-option [value]="null" class="option-all"
            >
              Все
            </mat-option>
            <mat-option *ngFor="let house of houses" [value]="house.houseGuid">
              {{house.address}}
            </mat-option>
          </mat-select>
          <button mat-button *ngIf="addressSearch" matSuffix mat-icon-button matTooltip="Очистить поле" (click)="addressSearch = ''; showTable()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-12">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Период</mat-label>
          <mat-date-range-input [rangePicker]="picker" >
            <input matStartDate [(ngModel)]="intervalStartSearch" (dateChange)="showTable()" placeholder="Начальная дата">
            <input matEndDate [(ngModel)]="intervalEndSearch"  (dateChange)="showTable()"placeholder="Конечная дата">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
            <button mat-button *ngIf="intervalStartSearch" matSuffix mat-icon-button matTooltip="Очистить поле" (click)="clearDate()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
      </div>
      <div class="col-md-2  col-12">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Статус</mat-label>
          <mat-select [(ngModel)]="statusSearch" #selectSearcStatus (ngModelChange)="showTable()">
            <mat-option [value]="null" class="option-all" >
              Все
            </mat-option>
            <mat-option *ngFor="let stat of status" [value]="stat.status">
              {{stat.status}}
            </mat-option>
          </mat-select>
          <button mat-button *ngIf="statusSearch" matSuffix mat-icon-button matTooltip="Очистить поле" (click)="statusSearch = ''; showTable()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-2 col-12">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Тип</mat-label>
          <mat-select [(ngModel)]="typeSearch" #selectSearchType (ngModelChange)="showTable()">
            <mat-option class="option-all"  [value]="null">
              Все
            </mat-option>
            <mat-option *ngFor="let type of types" [value]="type.name">
              {{type.name}}
            </mat-option>
          </mat-select>
          <button mat-button *ngIf="typeSearch" matSuffix mat-icon-button matTooltip="Очистить поле" (click)="typeSearch = ''; showTable()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-2 col-12">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Вид</mat-label>
          <mat-select [(ngModel)]="kindSearch" #selectSearchKind (ngModelChange)="showTable()">
            <mat-option [value]="null" class="option-all" >
              Все
            </mat-option>
            <mat-option *ngFor="let kind of kinds" [value]="kind.name">
              {{kind.name}}
            </mat-option>
          </mat-select>
          <button mat-button *ngIf="kindSearch" matSuffix mat-icon-button matTooltip="Очистить поле" (click)="kindSearch = ''; showTable()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div *ngIf="!checkLoadling" class="spinners">
    <div class="spinner1">
    </div>
    <div class="spinner2">
    </div>
  </div>

    <table #table @triggerElementShow *ngIf="checkLoadling" class="table" style="width: 100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef (click)="showTable()"> Номер</th>
        <td mat-cell *matCellDef="let element"> {{element.prefix}}-{{element.code}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Адрес</th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Статус</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="dateBegin">
        <th mat-header-cell *matHeaderCellDef> Дата</th>
        <td mat-cell *matCellDef="let element"> {{element.dateBegin | dateDisplay}} </td>
      </ng-container>

      <ng-container matColumnDef="kind">
        <th mat-header-cell *matHeaderCellDef> Вид</th>
        <td mat-cell *matCellDef="let element">
          <!--      <a routerLink ="/adsAdd">-->
          <mat-icon *ngIf="element.typeWork == 'Сантехнические'"
                    [ngClass]="{'tek-color': element.kindWork === 'Текущая', 'avar-color': element.kindWork === 'Аварийная', 'plat-color': element.kindWork === 'Платная'}"
          >waves
          </mat-icon>
          <mat-icon *ngIf="element.typeWork == 'Электротехнические'"
                    [ngClass]="{'tek-color': element.kindWork === 'Текущая', 'avar-color': element.kindWork === 'Аварийная', 'plat-color': element.kindWork === 'Платная'}"
          >flash_on
          </mat-icon>
          <!--      </a>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="active-row" (click)="navigate(row)">></tr>
    </table>

    <mat-paginator  [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>

</div>
