<div>
  <mat-card>
    <mat-card-header>{{title}}</mat-card-header>
    <mat-card-subtitle>
      <mat-form-field class="example-form-field full-width div-top">
        <mat-label >{{fieldTitle}}</mat-label>
        <textarea matInput type="text" [(ngModel)]="fieldValue" name="textField">
                <button mat-button *ngIf="fieldValue" matSuffix mat-icon-button matTooltip="Очистить поле" (click)="fieldValue = ''">
                  <mat-icon>close</mat-icon>
                </button>
        </textarea>
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card>
  <mat-card-actions>
    <button mat-raised-button (click)="onCancel()">Отменить</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Сохранить изменения</button>
  </mat-card-actions>
</div>
