.icon-margin {
  margin-left: 10px
}
.active-card:hover {
  background-color: #535353;
  cursor: pointer;
  /*background-color: #303030;*/
}
.zagolovok-pad {
  padding-top: 10px;
}
.icon-size {
  /*size: 40px;*/
}
.card-padding {
  padding-left: 5px;
  padding-right: 5px;
}
