/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.display-inbl {
  display: inline-block;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}
.mat-elevation-z8 {
  box-shadow: none !important;
}

.full-width {
  width: 100%;
}
.tek-color {
  color: lightskyblue !important;
}
.avar-color {
  color: hotpink !important;
}
.plat-color {
  color: aquamarine !important;
}
